<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.entity.User">
    <id column="uId" jdbcType="INTEGER" property="uid" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    uId, userId, password
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_user
    where uId = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_user
    where uId = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.entity.User">
    insert into b_user (uId, userId, password
      )
    values (#{uid,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.entity.User">
    insert into b_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.entity.User">
    update b_user
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where uId = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.entity.User">
    update b_user
    set userId = #{userid,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where uId = #{uid,jdbcType=INTEGER}
  </update>
  
  <select id="selectUserByUserId" parameterType="string" resultType="user">
  
    select 
    <include refid="Base_Column_List" />
    from b_user
    where userId=#{userId}
  
  
  </select>
  
  
  
  
  
  
  
  
  
  
</mapper>